<div id="overallCon" class="group"  >
    <div id="headerCon" class="iapp-overlay">
        <h1 class="header-title">USA TODAY CANDIDATE QUIZ</h1>
        <div class="instruct">Republican candidates were asked Wednesday night to name their dream Secret Service code names. Florida Senator Marco Rubio and University of Florida graduate chose "Gator" while Scott Walker selected Harley — his motorcycle of choice. Can you guess what these other candidates said? </div>
        <div class="button" id="begin-button">Begin</div>
    </div>
    <div class="round-container"></div>
    <!--TWITTER AND FACEBOOK SHARING-->
    <div id="shareCon">
            
    </div>
    <!--END TWITTER AND FACEBOOK SHARING-->
</div>
    
</div>

<div id="landscape-warning">
		<h2>Please rotate your device.</h2>
</div>

